
.nav {
    background-color: font.$blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    position: fixed;
    top: 0%;
    &__list {
        list-style-type: none;
        display: inline-flex;
    }
}

.nav__logo {
    font-family: font.$h-font;
    font-size: 38px;
    font-weight: bold;
    color: #FFF4F1;
    
    
}

.menu-btn {
    color: #FFF4F1;
    font-size: 32px;
    cursor: pointer;
    display: none;
    &:hover {
        color: #fa6084;
    }
}

#click {
    display: none;
}

.nav__item {
    font-family: font.$h-font;
    font-size: 22px;
    font-weight: bold;
    color: #FFF4F1;
    margin: 10px;
}

a:link {
    color: #FFF4F1;
    text-decoration: none;
}
a:visited {
    color: #FFC24B;
}
a:hover {
    color: #fa6084;
}