
@media screen and (max-width: 800px) {
    .title--intro {
        font-size: 32px;
    } 
    .card {
        flex-direction: column;
        width: 100vw;
    }
    .card-two, .card-four {
        flex-direction: column-reverse;
    }
    .card__title {
        font-size: 28px;
    }
    .card__text {
        font-size: 18px;
    }
    .card__img {
        margin: 0;
    }
    .menu-btn {
        display: flex;
        margin: 35px;
    }
    .nav__logo {
        font-size: 32px;
    }
    .nav__list {
        display: none;
    }
    #click:checked ~ .nav__list {
        display: flex;
        flex-direction: row;
        font-size: 28px;
        height: 10vh;
        margin-right: 10px;
    }
    #click:checked ~ .nav {
        display: flex;
        flex-direction: column;
    }
    #click:checked ~ .menu-btn {
        position:relative;
        left: 60%; /*it stays on the same place on ipad, but otherwise it moved when active...*/
     }
}

@media screen and (max-width: 600px) {
    .title--intro {
        font-size: 32px;
    } 
    .card {
        flex-direction: column;
        width: 100vw;
    }
    .card-two, .card-four {
        flex-direction: column-reverse;
    }
    .card__title {
        font-size: 28px;
    }
    .card__text {
        font-size: 18px;
    }
    .card__img {
        margin: 0;
    }
    .nav__logo {
        display: none;
    }
    .nav__list {
       display: none;
    }
    .menu-btn {
        display: flex;
        margin: 25px;
    }
    #click:checked ~ .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    #click:checked ~ .resp-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #click:checked ~ .menu-btn {
       position: relative;
       left: 24%;
    }
}
